h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 90px;
}

h2{
   text-decoration: underline;
}

h3{
   text-decoration: underline;
}

body {
  background-color: #A59191;
  color: black; 
  margin: 0;
}

.topnav {
  text-align: center;
}

li {
  color: #393030;
}

a {
  color: whitesmoke;
}

nav{
  text-align: center;
   overflow: auto;
}

.video{
  align-items: auto;
}

.cover_text1{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-10%, -40%);
  color: white;
}

.cover_image1{
  background-image: url("https://www.gannett-cdn.com/media/2018/08/03/USATODAY/USATODAY/636689041828658651-1x1.png?quality=10");
    background-color: #cccccc;
  height:1000px;
  background-position: center;
   background-repeat: no-repeat;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   margin-bottom: 50px
 }

section{

    padding-top: 20px;
    padding-bottom: 20px;
    width: 720px;
    margin-left: 50px;
    text-align: left;
}

footer{
  color: whitesmoke;
  font-size: 13px;
}

.twitter{
  width: 30px;
    border-radius: 25%;
}

.facebook{
  width: 30px;
    border-radius: 20%;
}

.Linkedin{
  width: 30px;
    border-radius: 20%;
}

.github{
  width: 30px;
    border-radius: 20%;
}


