body {
  background-color: #A59191;
  color: black; 
  text-align: center;
}


.cover_image2{
  background-image: url("https://cdn.rbth.com/all/2016/10/07/grizzly_cp7ecp_b.jpg");
    background-color: #cccccc;
   height:1000px;
   background-position: center;
   background-repeat: no-repeat;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   margin-bottom: 50px
}

.cover_text2{
  text-align: left;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(30%, 500%);
  font-size: 40px;
  color: white;
}

a {
  color: whitesmoke;
  
}
head {
  color: #393030;
}
nav{
  text-align: center;
   overflow: auto;
}

footer{
  color: whitesmoke;
  font-size: 13px;
  text-align:left;
}

.twitter{
  width: 50px;
  border-radius: 50%;
}